<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Welcome to Project Rails tes test ^^, </h1>
<p>
   สิ่งที่ใส่ใน for ถึงเพื่อนๆ 55 ส่งเมลในrails ก็ง่ายดีนะ ^^ <br/>
</p>
<p>
  by Ongkrab อย่ากดนะครับลองเล่นๆ ลิงก์ดูว่ามันจะใช้ได้ป่าวอะ 555 ได้แล้วลอง reply กลับมาด้วย ใช้ gem actionmailer ช่วย <%= @url %>.
</p>
<p> ตอนนี้ทำได้แค่ส่งจาก gmail อย่างเดียวอะ อยากลองตั้งsmtpตัวเองด้วยอะ</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>